.fork
  position: fixed
  top: 0
  left: 0
  z-index: -1

  @media (max-width: 548px)
    display: none


.fork > .link
  display: block

  padding: 10px 40px
  margin: 2em 0 0 -3em

  font: bold 16px/1 Helvetica, Arial, sans-serif
  text-decoration: none

  color: #FFF
  background: #FEDBD9

  transform: rotate(-45deg)

  transition: background .3s

.fork > .link:hover
  background: #F40B00
