.clearfix:before,
.isle:before,
.clearfix:after,
.isle:after {
  content: " ";
  display: table;
}
.clearfix:after,
.isle:after {
  clear: both;
}
.isle {
  padding: 1.5rem;
}
.isle_s {
  padding: 0.75rem;
}
.isle_l {
  padding: 3rem;
}
html {
  height: 100%;
  min-width: 36rem;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
}
body {
  position: relative;
  z-index: 1;
  height: 100%;
  padding: 0 3rem;
  margin: 0;
  color: #333;
  background: #fff;
}
.link {
  cursor: pointer;
  color: #0c56ff;
}
.link:hover {
  color: #f00;
}
.link_wrapper {
  display: inline-block;
  white-space: nowrap;
/* Would be a class for multiline links */
  text-decoration: none;
}
.link_wrapper .ico {
  margin-top: -4px;
  vertical-align: middle;
}
.link__inner {
  line-height: 1.1;
  text-decoration: underline;
}
.link_pseudo,
.link_pseudo.link_wrapper .link__inner {
  text-decoration: none;
  border-bottom: 1px dotted;
}
.link_pseudo.link_wrapper {
  border-bottom: 0;
}
.link_text {
  color: inherit;
}
body {
  font: 100%/1.5rem "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: subpixel-antialiased;
}
.text .link {
  padding: 0.22499999999999998rem 0;
}
.text p,
.text ul,
.text ol,
.text dl,
.text blockquote,
.text hr,
.text code,
.text pre,
.text table {
  padding: 0;
  margin: 0 0 1.5rem;
}
.text li,
.text li > p {
  padding: 0;
  margin: 0 0 0.75rem;
}
.text H1,
.text H2,
.text H3,
.text H4,
.text H5,
.text H6 {
  padding: 0;
  margin: 0 0 0.75rem;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
}
.text H1 {
  font-size: 3.75rem;
  line-height: 4.5rem;
  padding-top: 0.75rem;
}
.text H2 {
  font-size: 3rem;
  line-height: 3.75rem;
}
.text H3 {
  font-size: 2.25rem;
  line-height: 3rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.text H4,
.text H5,
.text H6 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  padding-bottom: 0.75rem;
}
.fork {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
@media (max-width: 548px) {
  .fork {
    display: none;
  }
}
.fork > .link {
  display: block;
  padding: 10px 40px;
  margin: 2em 0 0 -3em;
  font: bold 16px/1 Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #fff;
  background: #fedbd9;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -o-transition: background 0.3s;
  -ms-transition: background 0.3s;
  transition: background 0.3s;
}
.fork > .link:hover {
  background: #f40b00;
}
.debug body:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9;
  display: block;
  height: 9999px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0,0,0,0.3)), color-stop(0.01, rgba(0,0,0,0.3)), color-stop(0, transparent), color-stop(0.015, transparent));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 1px, transparent 0, transparent 1.5rem);
  background: -moz-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 1px, transparent 0, transparent 1.5rem);
  background: -o-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 1px, transparent 0, transparent 1.5rem);
  background: -ms-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 1px, transparent 0, transparent 1.5rem);
  background: linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 1px, transparent 0, transparent 1.5rem);
  -webkit-background-size: 1.5rem 1.5rem;
  -moz-background-size: 1.5rem 1.5rem;
  background-size: 1.5rem 1.5rem;
  pointer-events: none;
}
@media (min-width: 548px) {
  & {
    overflow-x: hidden;
  }
}
.section {
  position: relative;
  z-index: 1;
  width: 37em;
  max-width: 100%;
  margin: 0 auto;
}
.section_features {
  padding: 1.5rem 0;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.section_features:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 -3rem;
  background: rgba(0,0,0,0.05);
  -webkit-box-shadow: inset 0 5px 10px -5px rgba(0,0,0,0.5), inset 0 -5px 10px -5px rgba(0,0,0,0.5);
  box-shadow: inset 0 5px 10px -5px rgba(0,0,0,0.5), inset 0 -5px 10px -5px rgba(0,0,0,0.5);
}
@media (min-width: 548px) {
  .section_features:before {
    left: 0;
    right: 0;
    padding: 0 2000px;
    margin: 0 -2000px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}
.header__i {
  font-size: 7.5rem;
  line-height: 12rem;
}
.header .link {
  color: inherit;
}
.header .link:not(:hover) {
  text-decoration: none;
}
ul.links {
  margin: 1.5rem 0;
  list-style: none;
  text-align: center;
}
.links__item:not(:first-child):before {
  content: "or";
  display: block;
  margin-top: -0.75rem;
  color: rgba(0,0,0,0.5);
}
li.features__item {
  padding: 1.5rem 0;
  list-style: none;
}
.copy {
  margin: 0;
  font-size: 0.875em;
  line-height: 1.6em;
  color: rgba(0,0,0,0.5);
}
.copy .link_text:not(:hover)>.link__inner {
  text-decoration: none;
}
.section_footer {
  border-top: 1px solid rgba(0,0,0,0.1);
  padding-top: 1.5rem;
  margin-top: 1.5rem;
  padding-bottom: 3rem;
}
