---
layout: default
title: Hayaku!
---
include ../layouts/mixins

+page._index

  +b('header').section_header.text
    +b('h1').header
      +e.i Hayaku
      = " for Sublime Text 2"

    +b('ul').links
      +e.item: +link("https://github.com/hayaku/hayaku") Download from GitHub
      +e.item: Install through
        = " "
        +link("http://wbond.net/sublime_packages/package_control") Package Control


  +b('section').section_features.text
    +b('ul').features
      +e.item_fuzzy
        h2 Fuzzy Search
        p With hayaku you don't need to remember abbreviations and use cheatsheets. You can write just any way you like the abbreviations to be and Hayaku would try it's best to guess what you need.

      +e.item_habits
        h2 Use abbreviations you're used to
        p Hayaku supports the majority of the Zen Coding's CSS abbrevations, so there would be easy to use Hayaku.

      +e.item_habits
        h2: +link("https://github.com/hayaku/hayaku#readme") Read about more features at GitHub!

  +b('section').section_roadmap.text
    h2 Roadmap

    p Right now Hayaku is in open alpha, so it lacks a lot of things. Here are the features that we'd try to deliver at beta.

    +b('ul').roadmap
      +e.item Better settings — ability to set up custom abbreviations and define or redeclare all the properties from the dictionary.
      +e.item More shortcuts to different CSS features — colors, numbers and more.
      +e.item Expand properties through values only (Really?! Really!)

  +b('footer').section_footer
    p.fork
      +link("https://github.com/hayaku/hayaku") Fork me on GitHub!

    p.copy
      = "By "
      +link("https://twitter.com/kizmarh") Roman Komarov
      = " & "
      +link("https://twitter.com/thebits") Sergey Mezentsev
