su = 1.5rem

@import 'nib'
@import '../../../stylus/stylobate'

// Import All the things
@import "basics"
@import "links"
@import "typography"
@import "fork"

body
  // Add MQ to enable it when narrow
  overflow-x: hidden

  .debug &:after
    content: ""

    position: absolute
    top: 0
    right: 0
    left: 0
    z-index: 9

    display: block

    height: 9999px

    background: linear-gradient(rgba(#000,0.3), 1px rgba(#000,0.3), transparent 0, transparent su)
    background-size: su su

    pointer-events: none

// Other styles
.section
  position: relative
  z-index: 1
  width: 37em
  max-width: 100%
  margin: 0 auto

.section_features
  padding: 1*su 0
  margin-top: 1*su
  margin-bottom: 1*su

.section_features:before
  content: ""
  z-index: -1
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0

  // Add MQ to disable it when narrow
  padding: 0 2000px
  margin: 0 -2000px

  background: rgba(#000,.05)
  box-shadow: inset 0  5px 10px -5px rgba(#000,.5),
              inset 0 -5px 10px -5px rgba(#000,.5)

// Headers
h1,h2,h3,h4,h5,h6
  text-align: center

.header__i
  font-size: 5*su
  line-height: 8*su

.header .link
  color: inherit

  &:not(:hover)
    text-decoration: none


// Header links
ul.links
  margin: 1*su 0

  list-style: none
  text-align: center

.links__item:not(:first-child):before
  content: "or"
  display: block
  margin-top: -0.5*su
  color: rgba(#000,0.5)


// Features
li.features__item
  padding: su 0
  list-style: none


// Copyrights block
.copy
  margin: 0
  font-size: .875em
  line-height: 1.6em
  color: rgba(0,0,0,.5)

.copy .link_text:not(:hover)>.link__inner
  text-decoration: none


// Footer
.section_footer
  border-top: 1px solid rgba(0,0,0,0.1)
  padding-top: su
  margin-top: su
  padding-bottom: 2*su

