body
  font: 100%/su "Helvetica Neue", Helvetica, Arial, sans-serif
  text-rendering: optimizelegibility
  -webkit-font-smoothing: subpixel-antialiased


.text .link
  padding: .15*su 0

.text p,
.text ul,
.text ol,
.text dl,
.text blockquote,
.text hr,
.text code,
.text pre,
.text table
  padding: 0
  margin: 0 0 su

.text li,
.text li > p
  padding: 0
  margin: 0 0 0.5*su


.text H1,
.text H2,
.text H3,
.text H4,
.text H5,
.text H6
  padding: 0
  margin: 0 0 0.5*su

  font-family: Helvetica, Arial, sans-serif
  font-weight: normal


.text H1
  font-size: 2.5*su;
  line-height: 3*su;
  padding-top: 0.5*su;

.text H2
  font-size: 2*su;
  line-height: 2.5*su;

.text H3
  font-size: 1.5*su;
  line-height: 2*su;
  padding-top: 0.5*su;
  padding-bottom: 0.5*su;

.text H4,
.text H5,
.text H6
  font-size: su;
  line-height: su;
  padding-bottom: 0.5*su;
