include ../../bemto/bemto

mixin link(url)
  +b('span').link(attributes, href=url)
    block

mixin icon
  +b('span').ico(attributes)
    block

mixin page()
  +b('html').page(attributes)
    head
      title= document.title
      meta(charset="utf-8")
      meta(name="viewport", content="width=device-width")
      meta(http-equiv="X-UA-Compatible", content="IE=EmulateIE7,IE=edge")

      //- Including docpad's stuff
      != getBlock("meta").toHTML()

      //- Fix Jade for it
      <!--[if gt IE 7]><!-->
      link(rel="stylesheet", href="/s/style.css")
      <!--<![endif]-->

      //if lt IE 8
        link(rel="stylesheet", href="/s/style_ie.css")

    body
      block

      // Yandex.Metrika counter
      div(style="display:none;")
      script
          (function(w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter10918960 = new Ya.Metrika({id:10918960, enableAll: true, trackHash:true}); } catch(e) { } }); })(window, "yandex_metrika_callbacks");
      script(src="//mc.yandex.ru/metrika/watch.js",defer="defer")
      noscript
        div
          img(src="//mc.yandex.ru/watch/10918960", style="position:absolute; left:-9999px;", alt="")
      // /Yandex.Metrika counter

      != getBlock("scripts").toHTML()
